/* CSS Reset*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}
/* Header */
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5,0,136,0.5),rgba(5,0,136,0.5)),url(../img/back.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
/* Navigation Bar : logo and Image*/
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
}
nav .logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}
nav .logo img{
    width: 60px;
    margin-right: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

nav:hover{
    background-color: #fff;
    color: #333;
}

nav:hover .logo{
    color: #333;
}

nav:hover ul li a{
    color: #333;
}

.content{
    margin-top: 9%;
    margin-left: 9%;
    color: #fff;
}

.content h1{
    font-size: 120px;
    line-height: 140px;
    font-weight: 600;
}

.content p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
}

.links{
    margin-top: 30px;
    opacity: 0;
}

.links a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.btn{
    border: 2px solid white;
    padding: 10px 35px;
    border-radius: 30px;
    margin-right: 15px;
}

.slideLeft{
    animation: slideLeft 1s linear forwards;
}

@keyframes slideLeft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
p.slideLeft{
    animation-delay: 1s;
}

.links.slideLeft{
    animation-delay: 2s;
}


/* Services Section */
#services-container::before{
    content: "";
    background-image: linear-gradient(rgba(5,0,136,0.5),rgba(5,0,136,0.5)),url(../background7.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 179%;
    width: 100%;
    z-index: -1;
}
#services{
    margin: 34px;
    display: flex;
    flex-direction: row;
    
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: rgb(235, 214, 214);
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;

}
#clients-section{
    height: 430px;
}
#clients-section::before{
    background: url('../background6.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: -1;

}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item1 img{
    margin-top: 40px;
    margin-right:450px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.client-item2 img{
    margin-top: 40px;
    margin-left:450px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(95, 91, 214, 0.5),rgba(81, 79, 143, 0.5)),url(../contact.jpg);
    background-position: center;
    background-size: cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px ;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility clases*/

.h-primary{
    font-size: 3.8rem;
    
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;

}

.center{
    text-align: center;
  }

#clienth1{
    background-color: rgb(230, 163, 174);
    height: 120px;
    padding:30px 0px;
}
 

